:root{
  font-family: system-ui, Arial;
  --black: #000;
  --white: #FFF;
  --lgray: #CCC;
  --gray: #888;
  --dgray: #666;
  --background: #FDB;

  --red: #844;
  --blue: #0CF;
  --grey: #DDD;
  --trans: #6663;
  --ktrans: #333A;
  
  --bug: #8C0;
  --bugc: #CF0;
  --dark: #444;
  --darkc: #999;
  --dragon: #448;
  --dragonc: #88F;
  --electric: #FF0;
  --electricc: #FF8;
  --fairy: #F8C;
  --fairyc: #F8F;
  --fighting: #C40;
  --fightingc: #F86;
  --fire: #F80;
  --firec: #FC6;
  --flying: #4CF;
  --flyingc: #CEF;
  --ghost: #408;
  --ghostc: #84C;
  --grass: #4F0;
  --grassc: #CF8;
  --ground: #440;
  --groundc: #884;
  --ice: #0FF;
  --icec: #8FF;
  --normal: #CCC;
  --normalc: #FFF;
  --poison: #80F;
  --poisonc: #C8F;
  --psychic: #C08;
  --psychicc: #E4C;
  --rock: #840;
  --rockc: #C84;
  --steel: #888;
  --steelc: #DDD;
  --water: #08F;
  --waterc: #4CF;
}
body{
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background);
}
.align{
  align-items: center;
}
.aligntext{
  text-align: center;
}
.bold{
  font-weight: bolder;
}
.center{
  justify-content: center;
}
.right{
  justify-content: right;
}
.type{
  border: var(--black) 1px solid;
  border-radius: .5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  text-align:center;
}
.bug{
  background-color: var(--bug);
}
.bugcard{
  background-color: var(--bugc);
}
.dark{
  background-color: var(--dark);
  color:#FFF;
}
.darkcard{
  background-color: var(--darkc);
}
.dragon{
  background-color: var(--dragon);
  color:#FFF;
}
.dragoncard{
  background-color: var(--dragonc);
}
.electric{
  background-color: var(--electric);
}
.electriccard{
  background-color: var(--electricc);
}
.fairy{
  background-color: var(--fairy);
}
.fairycard{
  background-color: var(--fairyc);
}
.fighting{
  background-color: var(--fighting);
  color:#FFF;
}
.fightingcard{
  background-color: var(--fightingc);
}
.fire{
  background-color: var(--fire);
}
.firecard{
  background-color: var(--firec);
}
.flying{
  background-color: var(--flying);
}
.flyingcard{
  background-color: var(--flyingc);
}
.ghost{
  background-color: var(--ghost);
  color: var(--white);
}
.ghostcard{
  background-color: var(--ghostc);
}
.grass{
  background-color: var(--grass);
}
.grasscard{
  background-color: var(--grassc);
}
.ground{
  background-color: var(--ground);
  color: var(--white);

}
.groundcard{
  background-color: var(--groundc);
}
.ice{
  background-color: var(--ice);
}
.icecard{
  background-color: var(--icec);
}
.normal{
  background-color: var(--normal);
}
.normalcard{
  background-color: var(--normalc);
}
.poison{
  background-color: var(--poison);
}
.poisoncard{
  background-color: var(--poisonc);
}
.psychic{
  background-color: var(--psychic);
}
.psychiccard{
  background-color: var(--psychicc);
}
.rock{
  background-color: var(--rock);
  color: var(--white);
}
.rockcard{
  background-color: var(--rockc);
}
.steel{
  background-color: var(--steel);
}
.steelcard{
  background-color: var(--steelc);
}
.water{
  background-color: var(--water);
}
.watercard{
  background-color: var(--waterc);
}
.ministat{
  font-size: 1.5vw;
  text-align: right;
}
.white{
  color: var(--white);
}
.grey{
  color: var(--grey);
}
.red{
  color: var(--red);
}
.dot{
  background-color: var(--blue);
  border-radius: 50%;
  width: .4rem;
  height: .4rem;
}
.trans{
  background-color: var(--trans);
}
.kindatrans{
  color: var(--ktrans);
}
.radius{
  border: #44CCFF 1px solid;
  border-radius: 1.5rem;
}
.radius-btn{
  border: #44CCFF 1px solid;
  background-color:var(--normal);
  border-radius: 50%;
  width: 1.5rem;
  height: 1.6rem;
}
.radius-btn:hover{
  background-color: var(--white);
}
.round{
  border-radius: 50%;
}
.scarlet{
  background-color: var(--scarlet);
}
.minib{
  border: var(--gray) 1px solid;
  border-radius: 1rem;
  background-color: var(--lgray);
  font-size: larger;
  color: var(--dgray);
}
